# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


Makefile
config.h
config.log
config.status
stamp-h1
data/Makefile
src/.deps
src/Makefile
src/droidpad
autom4te.cache
src/droidpad.res
*.libs
droidpad-0.1.tar.gz
*.deps
*.lo
*.la
libtool
doc
test
winexport
winexport32
winexport64
src/droidpad.exe
src/if-gui/droidpad.res
build
droidpad-setup*.exe
droidpad-setup.exe.bak
src/tlstest
src/tlstest.exe
