Source: droidpad
Section: utils
Priority: optional
Maintainer: William Shackleton <w.shackleton@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/droidpad-pc

Package: droidpad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use your Android phone as a joystick on the computer.
 DroidPad lets you use an Android phone as a joystick & mouse on the
 computer. It can connect via the network (Wifi) or USB.
